<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <title>Arca - Part Developer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-navigation" class="clearfix">
      <%= link_to "Cristhian Giraldo", root_path, class: "name" %>
      <nav>
          <%= link_to "Articulos", posts_path %>
          <a href="#">Proyectos</a>
          <a href="#">Contacto</a>
      </nav>
    </header>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy; 2018 CrFox</p>

      <nav>
          <a href="http://github.com/crisdata" target="_blank"><i class="fab fa-github"></i></a>
          <a href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      </nav>
    </footer>
  </body>
</html>
